<header>
   <picture class="header__bg">
      <img src="./img/bg_9.jpg" alt="">
   </picture>

   <section class="container">
      <div class="navbar">
         <div class="navbar_nav">
            <a href="#" class="header__logo logo">
               <img src="./img/logo_1.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_2.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_3.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_4.png" alt="logo" width="80" height="80" class="logo__img">
            </a>
            <h2 class="header__tittle">
               Health is the way to a happy life
            </h2>

            <button id="btn-open-modal-login" class="btn-modal" style="margin: 0 auto;">SIGN UP</button>
            <button id="btn-logout" class="btn-modal logout-hide" style="margin: 0 auto;">LOGOUT</button>
         </div>
   </section>

   <section class="dashboard">
      <div class="dashboard__opacity">
        <div class="filter__bar container">
          <label class="title__search" for="search"></label
          ><input
            type="text"
            name="search"
            id="search"
            placeholder="Search by title"
          />
          <div class="filter__bar--select">
            <label for="filter_done">Status</label
            ><select name="filter" id="filter_done">
              <option value="all">All</option>
              <option value="Open">Open</option>
              <option value="Done">Done</option>
            </select>
          </div>
          <div class="filter__bar--select">
            <label for="filter_priority">Urgency</label
            ><select name="filter" id="filter_priority">
              <option value="all">All</option>
              <option value="Priority">Priority</option>
              <option value="Normal">Normal</option>
              <option value="emergency">Urgent</option>
            </select>
          </div>
          
          <button class="search__btn" id="search__btn">Search</button>
        </div>
            
          </div>
    </section>

    
   @@include('components/modal-login.html',{})
</header>