<main class="visit_container"> 
   <button id="btn-open-modal-visit" class="btn-modal" style="margin: 0 auto;">Open modal Visit</button>
   @@include('components/modal-visit.html',{})
   <!-- тут повинні відмальовуватися візити -->
   <div class="content__visits"></div>
</main>

