
.modal{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   // opacity: 1;
   // visibility: visible;
}

.modal.open{
   opacity: 1;
   visibility: visible;
}

.modal__body{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
   transition: all 0.8s ease 0s;
}

.modal__content{
   border-radius: 10px;
   background-color: #fff;
   color: black;
   min-width: 400px;
   max-width: 800px;
   margin: auto;
   padding: 30px;
   text-align: center;
   position: relative;
}
.modal__content h2{
   font-size: 24px;
   margin: 10px;
}
.modal__content label {
   display: block;
   margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid teal;
   border-radius: 4px;
   margin-bottom: 20px;
   max-width: 740px;
   max-height: 650px;
   white-space: pre-wrap;
}

.btn-modal{
   width: 100px;
   height: 30px;
   display: flex;
   padding: 4px; 
   /* border: 1px solid white; */
   box-shadow: 0 0 5px rgb(37, 228, 37);
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   transition-duration: 0.3s
}
.btn-modal:hover{
   scale: 1.05;
   box-shadow: 0 0 10px blue;
}
.btn-modal:active{
   transform: translateY(-3px);
   box-shadow: 0 0 10px rgb(37, 228, 37);
}