.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
  
  .filter__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    gap: 10px;
    max-width: 100%;
    flex-direction: row;
  }

  .filter__bar #search__btn {
    position: relative;
    padding: 17px;
    width: 150px;
  }
  .filter__bar #search__btn:after {
    display: block;
    content: "🔍";
    position: absolute;
    font-size: 20px;
    left: 75%;
    top: 40%;
  }
  .filter__bar select,
  .filter__bar .search__btn {
    cursor: pointer;
    font-family: $font-Montserrat;
    padding: 12px 40px;
    border: none;
    background: #9400d3;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    margin: 10px 10px 10px 20px;
    background-color: #9400d3;
    border: 1px solid #9400d3;
    color: $main-color;
    outline: none;

  }
  .filter__bar select:hover,
  .filter__bar .search__btn:hover {
    color: rgba(48, 93, 184, 0.9);
    background: $main-color;
  }
  .filter__bar #search {
    cursor: pointer;
    font-family: $font-Montserrat;
    padding: 12px 20px;
    outline: none;
    border: 1px solid rgba(48, 93, 184, 0.9);
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    color: rgba(48, 93, 184, 0.9);
    margin: 10px 10px 10px 20px;
    position: relative;
    text-align: center;
  }
  .filter__bar #search:focus {
    box-shadow: 0 0 25px rgba(48, 93, 184, 0.9);
  }
  
  .filter__bar--select {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }
  
  .title__search {
    position: relative;

  }