.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $main-color;
  text-align: center;
  padding: 30px 0;
  font-family: $font-Montserrat;
  color: #1a1a56;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}