<div id="modal-visit" class="modal">
   <div class="modal__body overlay">
      <div class="modal__content">
         <button class="btn-modal close-btn">
            Close
         </button>
         <h2>Modal Visit</h2>
         <form class="add-visit-form">
            <select id="doctor-select" name="doctor">
               <option value="">Оберіть лікаря</option>
               <option value="cardiologist">Каріолог</option>
               <option value="dentist">Дантист</option>
               <option value="therapist">Терапевт</option>
            </select>
            <br><br>
            <div id="doctor-fields">
               <label for="purpose">Мета візиту:</label>
               <input type="text" id="purpose" name="purpose"><br><br>
               <label for="description">Короткий опис візиту:</label>
               <textarea id="description" name="description"></textarea><br><br>
               <label for="urgency">Терміновість:</label>
               <select id="urgency" name="urgency">
                  <option value="normal">Звичайна</option>
                  <option value="priority">Пріоритетна</option>
                  <option value="emergency">Невідкладна</option>
               </select><br><br>
               <label for="name">Повне ім'я:</label>
               <input type="text" id="name" name="name"><br><br>
               <label for="urgency">Статус візита:</label>
               <select id="completed" name="completed" required>
                  <!-- <select class="visit-edit__completed" required> -->
                  <option value="open">візит запланований</option>
                  <option value="done">визит пройшов</option>
               </select>
               <br><br>
            </div>
            <div id="cardiologist-fields" style="display:none">
               <label for="pressure">Звичайний тиск:</label>
               <input type="text" id="pressure" name="pressure"><br><br>
               <label for="bmi">Індекс маси тіла:</label>
               <input type="text" id="bmi" name="bmi"><br><br>
               <label for="heartDisease">Перенесені захворювання ССС:</label>
               <input type="text" id="heartDisease" name="heartDisease"><br><br>
               <label for="cardio-age">Вік:</label>
               <input type="text" id="cardio-age" name="cardio-age"><br><br>
            </div>
            <div id="dentist-fields" style="display:none">
               <label for="lastVisit">Дата останього візиту:</label>
               <input type="date" id="lastVisit" name="lastVisit"><br><br>
            </div>
            <div id="therapist-fields" style="display:none">
               <label for="therapist-age">Вік:</label>
               <input type="text" id="therapist-age" name="therapist-age"><br><br>
            </div>
            <button class="btn-modal submit-btn" type="submit">
               Submit
            </button>
         </form>
      </div>
   </div>
</div>