<div id="modal-login" class="modal">
   <div class="modal__body overlay">
      <div class="modal__content">
         <button class="btn-modal close-btn">
            Close
         </button>
         <h2>Login</h2>
         <form class="login-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <button class="btn-modal submit-btn" type="submit">Submit</button>
         </form>
      </div>
   </div>
</div>